.env
.coverage
.DS_Store
.vscode/
.ipynb_checkpoints/
*.todo

scratch/
!scratch/.gitkeep

data/untracked
!data/untracked/.gitkeep

site/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
src.zip
/src.zip

*/__pycache__
*/__pycache__/*
orion/types/__pycache__/
orion/utils/__pycache__/

.mypy_cache
.mypy_cache/*

.pytest_cache
.coverage
